body { font-family: "HelveticaNeue-Light", "Helvetica", "sans-serif"}

.table > tbody > tr > td,th {
     vertical-align: middle;
     font-size: 0.8em;
     padding: 1px;
     text-align: center;
     vertical-align: middle;
}

.hide_on_load { display: none; }
.panel {margin-bottom: 5px;}
.panel-body {
  margin-bottom: 0px;
  padding: 5px;
}

.alert {
  margin-bottom: 0px;
  padding: 5px;
}

.compulsory {
    color: red;
    font-weight: bold;
}
